body {
  background: #e5e5e5;
  width: 100vw;
  margin: 0;
}

.toolbar {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 58px;
  width: 100%;
  align-items: flex-end;
  background: #fff;
}

.logo {
  width: 76px;
  height: 20px;
  padding: 20px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main-menu {
  margin-right: 20px;
  margin-bottom: 20px;
}

.headline {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  height: 640px;
  background: #fff;
  background-image: url("headline-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1px 1px 1px 50px;
  margin-top: 58px;
}

.intro-title {
  height: 150px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172c4f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.intro-body {
  height: 146px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect h2 {
  width: 134px;
  height: 24px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding-left: 1px;
}

.social-media-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 25px;
}

.logo:hover {
  cursor: pointer;
}

.main-menu:hover {
  background-color: #f3ba40;
  cursor: pointer;
}

.social-media-icon:hover {
  background-color: #7f8ff7;
  cursor: pointer;
}

.works {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  padding: 24px;
}

.card-works {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-top: 25px;
  margin-bottom: 25px;
  order: 3;
}

.snapshot {
  width: 100%;
}

.project-title {
  width: 245px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.caption-container {
  display: flex;
}

.text {
  height: 16px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description {
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dot {
  font-size: 48px;
  font-weight: 600;
  color: #c1c7d0;
  line-height: 15px;
}

.prog-lang {
  display: flex;
  padding-left: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lang {
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 5px;
  background: #ebebff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 20px;
}

.project-link {
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: transparent;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 20px;
}

.about-me {
  display: block;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  height: 1000px;
  background: #fff;
  border-top: 114px;
  border-radius: 1px 50px 1px 1px;
}

.about-title {
  width: 200px;
  height: 101px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 5px;
  margin-bottom: 5px;
}

.about-body {
  width: 327px;
  height: 144px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.resume-link {
  width: 160px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: transparent;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 18px;
  margin-bottom: 18px;
}

.project-link:hover {
  background-color: #6070ff;
  cursor: pointer;
  color: #fff;
}

.project-link:active {
  background-color: #2230d2;
  cursor: pointer;
  color: #fff;
}

.resume-link:hover {
  background-color: #6070ff;
  cursor: pointer;
  color: #fff;
}

.resume-link:active {
  background-color: #2230d2;
  cursor: pointer;
  color: #fff;
}

.about-stack {
  display: flex;
  flex-direction: column;
}

.stack-container {
  display: flex;
  flex-direction: column;
}

.stack-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.stack-category h2 {
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.category-item {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  padding: 10px;
  background: #f7f7f9;
  border-radius: 8px;
}

.stack-separator {
  height: 1px;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dfe1e6;
  margin-top: 10px;
  margin-bottom: 10px;
}
