.toolbar {
  display: flex;
  justify-content: space-between;
  height: 58px;
  width: 375px;
  align-items: flex-end;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 375px;
  height: 640px;
  background: #fff;
  background-image: url("headline-bg.png");
}

#intro-head {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172c4f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#intro-body {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#connect {
  width: 134px;
  height: 24px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#social-media-icons {
  display: flex;
}

.social-media-icon {
  margin-top: 15px;
  margin-right: 20px;
}

.logo:hover {
  cursor: pointer;
}

.main-menu:hover {
  background-color: #f3ba40;
  cursor: pointer;
}

.social-media-icon:hover {
  background-color: #7f8ff7;
  cursor: pointer;
}
