body {
  background: #e5e5e5;
  width: 100vw;
  margin: 0;
}

.toolbar {
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  justify-content: space-between;
  height: 58px;
  width: 100%;
  align-items: flex-end;
  background: #fff;
}

.logo {
  width: 76px;
  height: 20px;
  padding: 20px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main-menu {
  margin-right: 20px;
  margin-bottom: 20px;
}

.headline {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: row;
  height: 640px;
  background: #fff;
  background-image: url("headline-bg.png");
  background-size: cover;
  border-radius: 1px 1px 1px 50px;
}

.intro-title {
  height: 150px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172c4f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.intro-body {
  height: 146px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.connect {
  width: 134px;
  height: 24px;
  font-family: 'Poppins', 'Anonymous Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding-left: 1px;
}

.social-media-icon {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 25px;
}

.logo:hover {
  cursor: pointer;
}

.main-menu:hover {
  background-color: #f3ba40;
  cursor: pointer;
}

.social-media-icon:hover {
  background-color: #7f8ff7;
  cursor: pointer;
}
